@font-face {
  font-family: "iconfont"; /* Project id 3193504 */
  src: url('iconfont.woff2?t=1645342240437') format('woff2'),
       url('iconfont.woff?t=1645342240437') format('woff'),
       url('iconfont.ttf?t=1645342240437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiaozhuanzhiqianjimiao:before {
  content: "\e611";
}

.icon-shipin:before {
  content: "\e612";
}

.icon-sheding:before {
  content: "\e613";
}

.icon-a-wanchengqipao:before {
  content: "\e610";
}

.icon-a-suofangda:before {
  content: "\e614";
}

.icon-xiangshang:before {
  content: "\e60f";
}

.icon-zhengque:before {
  content: "\e615";
}

.icon-bingqilin:before {
  content: "\e71d";
}

.icon-dangao:before {
  content: "\e71e";
}

.icon-fantuan:before {
  content: "\e71f";
}

.icon-huoguo:before {
  content: "\e720";
}

.icon-kafei:before {
  content: "\e721";
}

